<div class="container">

    <div class="header-inner justify-content-start header-lg-height title-bar">
        <div class="brand inline align-self-end">
            <img src="assets/img/logo_s.png" alt="logo" data-src="assets/img/logo_s.png" data-src-retina="assets/img/logo_s_2x.png" width="17" height="20">
        </div>
        <h2 class="page-title align-self-end">
            AppFilm
        </h2>
    </div>
    <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
        <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
        </a>
        <ul>
            <li class=" active">
                <a href="#!/home">Home</a>
            </li>
            <li>
                <a href="#!/now_playing"><span class="title">Now Showing</span></a>
            </li>
            <li>
                <a href="#!/comming"><span class="title">Coming</a>
            </li>
        </ul>
    </div>
</div>