<!-- START OVERLAY -->
<!-- BEGIN Overlay Content !-->
<div class="overlay-content has-results m-t-20">
    <!-- BEGIN Overlay Header !-->
    <div class="container-fluid">
        <!-- BEGIN Overlay Logo !-->
        <img class="overlay-brand" src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
        <!-- END Overlay Logo !-->
        <!-- BEGIN Overlay Close !-->
        <a href="#" class="close-icon-light overlay-close text-black fs-16">
            <i class="pg-close"></i>
        </a>
        <!-- END Overlay Close !-->
    </div>
    <!-- END Overlay Header !-->
    <div class="container-fluid">
        <!-- BEGIN Overlay Controls !-->
        <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
        <br>
        <div class="inline-block">
            <div class="checkbox right">
                <input id="checkboxn" type="checkbox" value="1" checked="checked">
                <label for="checkboxn"><i class="fa fa-search"></i> Search within page</label>
            </div>
        </div>
        <div class="inline-block m-l-10">
            <p class="fs-13">Press enter to search</p>
        </div>
        <!-- END Overlay Controls !-->
    </div>
</div>
<!-- END Overlay Content !-->
<!-- END OVERLAY -->